<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salsa Components Page</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow&family=Bebas+Neue&family=Noto+Sans:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body class="container">
    <div class="wrapper">
        <header class="container__header">
            <nav class="header__nav">

                <ul class="header__nav__list">
                    <li><a href="#typography">Typography</a></li>
                    <li><a href="#atoms">Atoms</a></li>
                    <li><a href="#top-menu">Top-menu</a></li>
                    <li><a href="#nav-menu">Nav-menu</a></li>
                    <li><a href="#main-hero">Main-hero</a></li>
                    <li><a href="#cards">Cards</a></li>
                    <li><a href="#hero-two">Hero-two</a></li>
                    <li><a href="#form">form</a></li>
                    <li><a href="#footer-menu">footer-menu</a></li>
                    <li><a href="#footer-contact">footer-contact</a></li>
                </ul>

            </nav>
        </header>
        <main class=" container__main">
            <h1 class="menu__header"><img src="componentImg/2.navBar/salsa2.png" class="salsa-logo" alt="salsa-logo">Web
                Design
                System</h1>
            <p class="menu__header__link"> For the <a href="https://www.salsacycles.com">Salsa</a>
                Bikes Web
                Site
            </p>
            <section class="page-section">
                <h2 class="component-page__section-heading" id="typography">Typography</h2>
                <!-- card text Typography -->
                <article class="component">
                    <h3 class="component__name">body</h3>
                    <div class="component__img">
                        <img srcset="componentImg/4.mainSection1/mainSectionBodyText.png 1.3x"
                            src="componentImg/4.mainSection1/mainSectionBodyText.png" alt="body-text">
                    </div>
                    <div class="component__code">
                        <p class="section__code--card-text" id="card-text">Mountain bike trails come
                            in many
                            flavors, from mellow flow
                            to
                            dizzyingly technical. That’s why we offer
                            beginner-friendly trail hardtails, enduro race rigs, and everything in
                            between. Find the
                            right
                            mountain
                            bike for your trail.</p>
                    </div>
                </article>

                <!-- main nav Typography -->
                <article class="component">
                    <h3 class="component__name">.nav-item</h3>

                    <div class="component__img">
                        <img srcset="componentImg/2.navBar/navItem.png 1.5x" src="componentImg/2.navBar/navItem.png"
                            alt="nav-text">
                    </div>

                    <div class="component__code">
                        <p class="section__code--nav-item">Bikes</p>
                    </div>
                </article>

                <!-- nav footer atom -->
                <article class=" component">
                    <h3 class="component__name">.nav-footer-item</h3>
                    <div class="component__img">
                        <img srcset="componentImg/6.footerMenu/footerNavItem.png 1.1x"
                            src="componentImg/6.footerMenu/footerNavItem.png" alt="footer-text">
                    </div>
                    <div class="component__code">
                        <p class="section__code--nav-footer-menu">Mountain</p>
                    </div>
                </article>

                <!-- h2 and h3 -->
                <article class="component">
                    <h3 class="component__name">h2, h3</h3>
                    <div class="component__img">
                        <img srcset="componentImg/4.mainSection1/mainSection1Header.png 1.5x"
                            src="componentImg/4.mainSection1/mainSection1Header.png" alt="header-text--h2">
                    </div>
                    <div class="component__code">
                        <h2 class="section__code--h2">Bike Lineup</h2>
                    </div>
                    <div class="component__img">
                        <img srcset="componentImg/4.mainSection1/mainSectionHeaderText.png 1.5x"
                            src="componentImg/4.mainSection1/mainSectionHeaderText.png" alt="header-text--h3">
                    </div>
                    <div class="component__code">
                        <h3 class="section__code--h3">Mountain Bikes</h3>
                    </div>
                </article>
            </section>

            <!-- Atoms -->
            <section class="page-section">
                <h2 class="component-page__section-heading" id="atoms">Atoms</h2>
                <article class="component">
                    <h3 class="component__name">buttons</h3>
                    <div class="component__img">
                        <img srcset="componentImg/4.mainSection1/viewAllBikesButton.png 1.5x"
                            src="componentImg/4.mainSection1/viewAllBikesButton.png" alt="body-text">
                    </div>
                    <div class="component__code">
                        <a class="section__code--button-text" href="#">View all bikes</a>
                    </div>
                    <div class="component__img">
                        <img srcset="componentImg/4.mainSection1/viewAll3.png 1.0x"
                            src="componentImg/4.mainSection1/viewAll3.png" alt="body-text">
                    </div>
                    <div class="component__code">
                        <a class="section__code--link-text" href="#">View All<img
                                src="componentImg/4.mainSection1/arrow.svg" class="section__code--link-arrow"
                                alt="arrow"></a>
                    </div>
                    <div class="component__img">
                        <img src="componentImg/7.footerContact/instagram.svg" class="section__code--footer-svg"
                            alt="arrow">
                    </div>
                    <div class="component__code">
                        <img src="componentImg/7.footerContact/instagram.svg" class="section__code--footer-svg"
                            alt="arrow">
                    </div>
                </article>
            </section>

            <!-- very top nav -->
            <section class="page-section">
                <h2 class="component-page__section-heading" id="top-menu">Top-Menu</h2>
                <article class="component">
                    <h3 class="component__name">top_menu</h3>
                    <div class="component__img">
                        <img src="componentImg/1.contactBanner/allContactBanner.png" alt="contact banner">
                    </div>
                </article>
                <div class="component__code">
                    <article class="section__code top__nav__section">
                        <nav class="top-container">
                            <ul class="top__list">
                                <li class="top__item"><img src="componentImg/1.contactBanner/contact.svg"
                                        class="top__logo" alt="top-logo"></li>
                                <li class="top__item">Contact</li>
                                <li class="top__item">Dealers</li>
                                <li class="top__item">Support & Safety</li>
                            </ul>
                        </nav>
                    </article>
                </div>
            </section>

            <!-- main nav menu -->
            <section class="page-section">
                <h2 class="component-page__section-heading" id="nav-menu">Nav-Menu</h2>
                <article class="component">
                    <h3 class="component__name">nav_menu</h3>
                    <div class="component__img">
                        <img srcset="componentImg/2.navBar/wholeMenu.png 1.3x" src="componentImg/2.navBar/wholeMenu.png"
                            alt="body-text">
                    </div>
                </article>
                <div class="component__code">
                    <article class="section__code main__menu">
                        <nav class="flex-container">
                            <ul class="menu__list">
                                <li class="menu-item"><img src="componentImg/2.navBar/navLogo.png" class="nav__logo"
                                        alt="nav-logo"></li>
                                <li class="menu-item">bikes</li>
                                <li class="menu-item">gear</li>
                                <li class="menu-item">salsa</li>
                                <li class="menu-item">journal</li>
                                <li class="menu-item"><img src="componentImg/2.navBar/glass2.svg" class="nav__svg"
                                        alt="nav-svg"></li>
                            </ul>
                        </nav>
                    </article>
                </div>
            </section>

            <!-- main hero -->
            <section class="page-section">
                <h2 class="component-page__section-heading" id="main-hero">Main-Hero</h2>
                <article class="component">
                    <h3 class="component__name">main-hero</h3>
                    <div class="component__img">
                        <img srcset="componentImg/3.heroStuff/heroAll.png 1.3x"
                            src="componentImg/3.heroStuff/heroAll.png" alt="body-text">
                    </div>
                </article>
                <div class="component__code">
                    <article class="section__code-hero1">
                        <div class="h1__text">Salsa Cycles Presents <br>Unexpected Joy</div>
                        <div class="section__code--black-button">
                            Watch the film
                        </div>
                    </article>
                </div>
            </section>

            <!-- card components -->
            <section class="page-section">
                <h2 class="component-page__section-heading" id="cards">Cards</h2>
                <article class="component">
                    <h3 class="component__name">Card-Items</h3>
                    <div class="component__img">
                        <img srcset="componentImg/4.mainSection1/wholeCard2.png 1.3x"
                            src="componentImg/4.mainSection1/wholeCard2.png" alt="body-text">
                    </div>
                </article>
                <div class="component__code">
                    <article class="section__code-cards">
                        <div class="section__code-card">
                            <img src="componentImg/4.mainSection1/maineSection--photo.png" alt="card-image">
                            <h3 class="section__code--h3">Mountain Bikes</h3>
                            <p class="section__code--card-text">Mountain bike trails come in many
                                flavors, from mellow
                                flow
                                to
                                dizzyingly technical. That’s why we offer
                                beginner-friendly trail hardtails, enduro race rigs, and everything
                                in between. Find the
                                right
                                mountain
                                bike for your trail.</p>
                            <a class="section__code--link-text" href="#">View All<img
                                    src="componentImg/4.mainSection1/arrow.svg" class="section__code--link-arrow"
                                    alt="arrow"></a>
                        </div>
                    </article>
                </div>

            </section>

            <!-- hero two component -->
            <section class="page-section">
                <h2 class="component-page__section-heading" id="hero-two">Hero two</h2>
                <article class="component">
                    <h3 class="component__name">Hero_two</h3>
                    <div class="component__img">
                        <img srcset="componentImg/5.mainSection2/wholeImage.png 1.3x"
                            src="componentImg/5.mainSection2/wholeImage.png" alt="hero-text">
                    </div>
                </article>
                <div class="component__code">
                    <article class="section__code-hero2">
                        <div class="h1__text">Salsa Gear</div>
                        <div class="section__code--red-button">
                            parts, clothing, acccessories, and more--dig in
                        </div>
                    </article>
                </div>

            </section>

            <!-- form component -->
            <section class="page-section">
                <h2 class="component-page__section-heading" id="form">Form</h2>
                <article class="component">
                    <h3 class="component__name">form</h3>
                    <div class="component__img">
                        <img srcset="componentImg/5.mainSection2/emailForm.png 1.3x"
                            src="componentImg/5.mainSection2/emailForm.png" alt="hero-text">
                    </div>
                </article>
                <div class="component__code">
                    <article class="section__code__email-form">
                        <div class="email__form">Get the latest Salsa News!</div>
                        <div class="form__text1">
                            <form action="my-form.php" method="post">

                                <label class="control-label" for="email"></label> <input type="text" name="email"
                                    placeholder="Enter your email address" class="icon">
                                <p class="form__text2">Submitting this form subscribes you to emails
                                    from Salsa Cycles.
                                </p>
                            </form>
                        </div>
                    </article>
                </div>
            </section>



            <!-- footer menu component -->
            <section class="page-section">
                <h2 class="component-page__section-heading" id="footer-menu">footer menu</h2>
                <article class="component">
                    <h3 class="component__name">footer_menu</h3>
                    <div class="component__img">
                        <img srcset="componentImg/6.footerMenu/footerMenuWhole.png 1x"
                            src="componentImg/6.footerMenu/footerMenuWhole.png" alt="footer-menu">
                    </div>
                </article>
                <div class="component__code">
                    <article class="section__code footer__menu">
                        <ul class="section__code__footer__menu--list">
                            <li class="section__code__footer__menu--header">Bikes</li>
                            <li>Mountain</li>
                            <li>Gravel and Road</li>
                            <li>Fat Tire</li>
                            <li>Archived</li>
                        </ul>
                    </article>
                </div>
            </section>

            <!-- footer contact component -->
            <section class="page-section">
                <h2 class="component-page__section-heading" id="footer-contact">footer contact</h2>
                <article class="component">
                    <h3 class="component__name">footer_contact</h3>
                    <div class="component__img">
                        <img srcset="componentImg/7.footerContact/footerContactWhole.png 1x"
                            src="componentImg/7.footerContact/footerContactWhole.png" alt="footer-contact">
                    </div>
                </article>
                <div class="component__code">
                    <article class="section__code footer__contact__menu">
                        <div class="section__code__footer__contact">
                            <img src="componentImg/7.footerContact/footerMenuLogo1.png" class="footer__logo child1"
                                alt="footer-logo">
                            <img src="componentImg/7.footerContact/instagram.svg"
                                class="section__code--footer-svg child2" alt="footer-svg">
                            <img src="componentImg/7.footerContact/facebook.svg"
                                class="section__code--footer-svg child3" alt="footer-svg">
                            <img src="componentImg/7.footerContact/vimeo4.svg" class="section__code--footer-svg child4"
                                alt="footer-svg">
                            <img src="componentImg/7.footerContact/youtube.svg" class="section__code--footer-svg child5"
                                alt="footer-svg">
                            <img src="componentImg/7.footerContact/twitter.svg" class="section__code--footer-svg child6"
                                alt="footer-svg">
                            <img src="componentImg/7.footerContact/footerMenuLogo2.png" class="footer__logo child7"
                                alt="footer-logo">
                            <img src="componentImg/7.footerContact/footerMenuLogo3.png" class="footer__logo"
                                alt="footer-logo">
                        </div>
                        <p class="copyright">&copy; 2022 Salsa Cycles All Rights Reserved/Privacy
                            Policy/Accessiblity
                        </p>
                    </article>
                </div>
            </section>
        </main>
    </div>
</body>

</html>